@font-face {
	font-family: "Lucida Grande";
	src: local("Lucida Grande"),
		url("/assets/lucida-grande.woff2") format("woff2");
	font-display: swap;
}

:root {
	font-size: 100%;
}

html,
body {
	margin: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 1.3rem;
	line-height: 1;
	overflow: hidden;
	user-select: none;
	background: radial-gradient(circle at 50% 40%, #ffffff50, transparent), url("/assets/background.png") repeat left top #000;
}

a {
	text-decoration: none;
}

.users {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 8.8rem;
}

.user {
	text-align: center;
}

.avatar {
	display: inline-block;
	position: relative;
	padding: 0.3rem;
	border-radius: 50%;
	background: linear-gradient(#fdfdfd, #c9c9c9);
	border: 0.1rem solid #434448;
	margin-bottom: 1rem;
}

.avatar img {
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	border: 0.1rem solid #434448;
	display: block;
	object-fit: cover;
}

.avatar::after {
	content: "";
	position: absolute;
	top: 0.45rem;
	left: 0.45rem;
	width: 8.9rem;
	height: 8.9rem;
	border-radius: 50%;
	pointer-events: none;
	background: linear-gradient(135deg,
			transparent,
			#ffffff75 50%,
			transparent 50%);

	mask-image: linear-gradient(180deg, black 20%, transparent 40%);
}

.name {
	margin: 0;
	color: #fff;
	letter-spacing: 0.02rem;
	text-indent: 0.02rem;
	text-shadow: 0.1rem 0.1rem 1rem #00000099;
}